#error-message {
    color: red;
    font-weight: bold;
    animation: flash 1s linear infinite; /* Flashing animation */
}

/* Flashing animation */
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#welcome-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
}