<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <h1>FastAPI User Authentication project using JWT</h1>
  </header>

  <div id="error-message" class="hidden"></div>

  {% block body %}{% endblock %}

<script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>